.dashboard-header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.dashboard-main {
  min-height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: calc(10px + 2vmin);
}

.dashboard-footer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.dashboard-container {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  background-color: #282c34;
  color: white;
}
